/******************** Flowers rotation *********************/
.site-footer ul::after, #studio h2::before, #studio h2::after, .oscars_img::before, .oscars_img::after,
.story h2::after, .story__article::after {
  animation: rotate 8s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/******************** Flowers rotation *********************/
/***************************Nuages**************************/
.story #place {
  background-image: url("../images/fond.png");
}

#place {
  z-index: -2;
}

#place div p {
  z-index: 1;
}

.big_cloud {
  position: absolute;
  top: 66%;
  right: 16%;
  z-index: -1;
}

.little_cloud {
  position: absolute;
  top: 80%;
  right: 40%;
  z-index: -1;
}

.go_nuages {
  animation: translate_nuages 4s linear both;
}

@keyframes translate_nuages {
  from {
    transform: translateX(0);
  }
  to {
    transform: translate(-300px);
  }
}
/***************************Nuages**************************/
/***************************Banner**************************/
.banner {
  margin-top: -80px;
  margin-right: 0;
}
.banner img {
  margin-top: 300px;
}

.banner_video {
  position: absolute;
  top: 80px;
  height: 806px;
}

.go {
  animation: translate 4s linear both;
}

.banner img {
  animation: translate_img 4s linear both;
}

@keyframes translate {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(86px);
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes translate_img {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-160px);
  }
}
.banner_video_go, video {
  animation: magic 8s both;
}

@keyframes magic {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}
.story {
  margin-top: 86px;
}

/***************************Banner**************************/
/**********************ajout div oscars*********************/
.oscars {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oscars_img::before {
  content: url("../images/Sunflower.png");
  position: absolute;
  left: 10px;
  bottom: 14em;
}
.oscars_img::after {
  content: url("../images/orchid.png");
  position: absolute;
  right: -4em;
  bottom: 14em;
}

@media (max-width: 920px) {
  .oscars_img::before, .oscars_img::after {
    content: "";
  }
}
.site-footer::before, .site-footer::after {
  content: "";
}

/**********************ajout div oscars*********************/
/**********************modif characters*********************/
#myCharacters {
  width: 100%;
  height: 628px;
}

.swiper-container {
  width: 100%;
  height: 500px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**********************modif characters*********************/
/***********************chgt sections***********************/
.story_ok {
  animation: story_ok 2s both;
}

@keyframes story_ok {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/***********************chgt sections***********************/
/**************************titres***************************/
.story h2 {
  background-image: url("../images/purple_title_bg.png");
}

#myCharacters h3 {
  background-image: url("../images/orange_characters_bg.png");
  justify-self: baseline;
}

#place h3 {
  background-image: url("../images/orange_place_bg.png");
}

.studio h2 {
  background-image: url("../images/purple_studio_bg.png");
}

.title_ok {
  animation: title_ok 2s both;
  animation-delay: 2s;
}

@keyframes title_ok {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/**************************titres***************************/
/*********************flottement titre**********************/
.banner .myImg {
  animation-delay: 8s;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=myStyle.css.map */