html {
    scroll-behavior: smooth;
}
/******************** Flowers rotation *********************/
.site-footer ul::after,#studio h2::before, #studio h2::after, .oscars_img::before, .oscars_img::after,
.story h2::after, .story__article::after {
    animation: rotate 24s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/******************** Flowers rotation *********************/

/***************************Nuages**************************/
.story #place {
	background-image: url("../images/fond.png")   
}

#place {
  z-index: -2; 
}

#place div p {
    z-index: 1;
}

#myAnimation, #myAnimation2 {
      position: absolute;
      transition: right 6s ease;
}
#myAnimation {
    top: 66%;
    right: 100px;
    z-index: -1;
}

#myAnimation2 {
    top: 80%;
    right:600px;
    z-index: -1;
}
/***************************Nuages**************************/

/***************************Banner**************************/
.banner {
    position: absolute;
    top: -16px;
    right: 4.6%;
    height: 806px;
    width: 90.8%;
    
}   
#myImg {
    position: absolute;
    top: 460px;
    z-index: 100;
}

.banner_video {
    position: absolute;
    top: 0;
    height: 806px;
    opacity: 0;
    z-index: -99;
}

.go {
    animation: translate 10s linear both;
}

.banner img {
        animation: apparition_img 12s both;
    }
@keyframes translate {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    20% {
        transform: translateY(20px);
        opacity: 1;
    }
    98% {
        transform: translateY(66px);
        opacity: 1;
    }
    100% {
        background: rgb(0 0 0 / 0%);
    }
}

@keyframes apparition_img {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    
    100% {
        opacity: 1;
    }
}

.banner_video_go, video {
  animation: magic 10s both;
  
}

@keyframes magic {
  from {
    opacity: 0;   
  }
  to {
    opacity: 1;
  }
}

.story {
    margin-top: 822px;
}
/***************************Banner**************************/

/**********************ajout div oscars*********************/
.oscars {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oscars_img {
    &::before {
    content: url('../images/Sunflower.png');
    position: absolute;
    left: 10px;
    bottom: 14em;   
  }
  &::after {
    content: url('../images/orchid.png');
    position: absolute;
    right: -4em;
    bottom: 14em;
  }
}
@media (max-width: 920px) {
     .oscars_img::before, .oscars_img::after{
        content: '';
    }
}

.site-footer::before, .site-footer::after {
    content: '';
}

#studio > div::before {
    top: 30%;
}
/**********************ajout div oscars*********************/

/**********************modif characters*********************/
#myCharacters  {
    width: 100%;
    height: 628px;
}

.swiper-container {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;   
}
/**********************modif characters*********************/

/***********************chgt sections***********************/
.story_ok {
animation: story_ok 2s both;
}

@keyframes story_ok {
  from {
    opacity: 0;  
  }
  to {
    opacity: 1;
  }
}
/***********************chgt sections***********************/

/**************************titres***************************/

#myCharacters h3 {
    background-image:  url("../images/orange_characters_bg.png");
    justify-self: baseline;
}


.title_ok div{
    animation: title_ok 1s both;
    animation-delay: 1s;
}
@keyframes title_ok {
    from {   
        opacity: 0;
        transform: translateY(48px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
/**************************titres***************************/

/*********************flottement titre**********************/
.banner #myImg {
    animation-delay: 5s;
    animation: float 4s ease-in-out infinite;
}
@keyframes float {
	0% {
        transform: translateY(0px);
	}
	50% {
		
		transform: translateY(30px);
	}
	100% {
		
		transform: translateY(0px);
	}
}
/*********************flottement titre**********************/

/***************************Menu****************************/
li {
  list-style: none;
}
a,
a:visited {
  color: black;
  text-decoration: none;
}
a:hover {
  text-shadow: 3px 3px 5px #FF5C00;
;
}
/**before*after**/
#ul1::after {
    content: "STUDIO KOUKAKI";
    position: absolute;
    bottom: -168px;
    right: 52%;
    font-size: 14px;
}
#li1::before {
    content: url("../images/orchid.png");
    position: absolute;
    top: 12px;
    left: -12%;
    animation: rotate 24s linear infinite;
}
#li2::before {
    content: url("../images/cat_1.png");
    position: absolute;
    top: 86px;
    left: 14%;
    animation: float 4s ease-in-out infinite;
}
#li3::before {
    content: url("../images/Flower.png");
    position: absolute;
    top: 320px;
    left: 10%;
    animation: rotate 24s linear infinite;
}
#li4::before {
    content: url("../images/cat_2.png");
    position: absolute;
    top: 500px;
    left: 0%;
    animation: float 4s ease-in-out infinite;
}
#li4::after {
    content: url("../images/Hibiscus_footer.png");
    position: absolute;
    top: 372px;
    right: -14%;
    animation: rotate 24s linear infinite;
}
#li3::after {
    content: url("../images/cat_3.png");
    position: absolute;
    top: 250px;
    right: 26%;
    animation: float 4s ease-in-out infinite;
}
#li2::after {
    content: url("../images/randomflower.png");
    position: absolute;
    top: 160px;
    right: -0.6%;
    animation: rotate 24s linear infinite;
}
#li1::after {
    content: url("../images/Sunflower.png");
    position: absolute;
    top: 20px;
    right: 26%;
    animation: rotate 24s linear infinite;
}
@media (max-width: 920px) {
    #li1::before, #li2::before, #li3::before, #li4::before,
    #li1::after, #li2::after,#li3::after,#li4::after {
        content: '';
    }
    nav {
        font-size: 16px !important;
        height: 36px;
    }
    
    
}
/****************/
#myDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  width: 100%;
  height: 806px;
  background-color: #fff5e9;
  position: fixed;
  top: 36px;
  opacity: 0;
}
.active #myDiv {
  opacity: 1;
}
#top img {
    width:100px;
    height: 75px;
}

/**** NAVBAR ****/
nav {
  background: #ffd5a2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}
nav span {
    width:10%;
}


nav ul {
  position: fixed;
  display: flex;
  opacity: 0;
  top: 10%;
  flex-direction: column;
  background: rgb(0, 0, 0, 0);
  width: 100%;
  height: 480px;
  justify-content: space-around;
  text-align: center;
  font-size: 32px;
}
nav ul li {
    margin-right: 200px;
}

nav.active ul {
    opacity: 1;
    transition: 2s;
  }
#icons {
  cursor: pointer;
  display: flex;
  align-self: right;
}
#icons:before {
    content: "\2630";
  }
  .active #icons:before {
    content: "\2715";
  }
  .active li div {
    animation: title_ok 1s both;
    
  }
